# Node modules
backend/node_modules/
frontend/node_modules/

# Build output
dist/

# Local environment variables
.env.local
backend/.env
frontend/.env


# Log files
*.log

# Vite cache
frontend/.vite/

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln